#entire{
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
    display: grid;
    place-items: center;
    background-color: white;
    font-weight: bold;
    font-size: larger;
    color: palevioletred;
}
body {
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
button, a{
    margin-right: 10px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 39px;
}
#new-quote{
    background-color: palevioletred;
}
#author{
    text-align: end;
    font-size: smaller;
}
#new-quote:hover{
    background-color: rgb(183, 56, 98);
}