#entire{
    width: 50%;
    text-align: center;
    display: grid;
    place-items: center;
    background-color: pink;
    font-weight: bold;
    font-size: larger;
    color: white;
}
body{
    background-color: palevioletred;
}
button{
    margin-right: 10px;
    margin-top: 20px;
    
}